@model IEnumerable<Roles.Entities.Book>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Index</h1>

<p>
    <a class="btn btn-success btn-sm" asp-action="Create">Create</a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Book List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookAuthor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookPublication)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookPurchaseDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BookPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookAuthor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookPublication)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookPurchaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genre.GenreName)
                            </td>
                            <td>
                                <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.BookId"><i class="fa-solid fa-pen-to-square"></i></a> |
                                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.BookId"><i class="fa-solid fa-eye"></i></a> |
                                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BookId"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>



@*<table class="table">
    <thead class="thead-dark  w-100">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPublication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
